/* colors:

Light beige (background): #f1e8dc,
Dark beige (circles and active step of article): #e0d0ba
Dark grey (intro text): #383737;



/* intro */

#intro {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  /* height: 100vh; */
  color: #383737;
}

.intro-hed {
  font-size: 3em;
  font-weight: 900;
  margin: 3rem auto 3rem auto;
}

.intro-dek {
  color: #383737;
  font-weight: 600;
  font-style: bold;
}
.intro-bitcoin {
  background-color: #e0d0ba;
  padding: 3% 2% 3% 2%;
}

#intro {
  margin-bottom: 80px;
}

/* body */
body {
  font-family: 'Noto Sans Mono', monospace;
  background-color: #f1e8dc;
}
/* scrolly */
main {
  margin: 1rem 1rem 1rem 1rem;
}
#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 1rem; */
}
#scrolly {
  background-color: #f1e8dc;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 1rem 1rem;
  min-width: 60%;
}

.sticky-chart {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  /* padding: 1.5rem 1.5rem; */
  z-index: 0;
  top: 0;
  top: 1vh;
  height: 90vh;
  /* Center everything inside */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.sticky-chart p {
  height: 4rem;
  margin-bottom: 0;
  /* padding: 1rem; */
  font-size: 22px;
  /* font-weight: 300; */
  /* color: black; */
  /* opacity: 0; */
}

.step {
  margin: 1rem auto 1rem auto;
  padding: 2rem 2rem;
}

.step:last-child {
  margin-bottom: 50;
}

.step.is-active {
  background-color: #e0d0ba;
  /* border-style: solid; */
  /* border-color: #3b3b3b; */

  color: #080808;
  margin: 1rem auto 1rem auto;
  padding: 2rem 2rem;
}

.step p {
  text-align: center;
  /* padding: 0.5rem; */
  font-size: 1rem;
}
#outro {
  max-width: 50rem;
  margin: 2rem auto 2rem auto;
  padding: 2rem 2rem;
  text-align: left;
  /* height: 100vh; */
  color: #383737;
  background-color: #e0d0ba;
}
#resources {
  max-width: 50rem;
  margin: 2rem auto 2rem auto;
  padding: 2rem 2rem;
  text-align: left;
  /* height: 100vh; */
  color: #383737;
  background-color: #f1e8dc;
  font-size: 14px;
}
/* scatterplot */

.dot {
  cursor: pointer;
}
.dot:hover {
  stroke-width: 3;
}

div.tooltip {
  position: absolute;
  text-align: left;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  font: 12px;
  pointer-events: none;
  background-color: white;
  color: black;
  border-color: black;
  /* border-width: 1px; */
  border-style: solid;
  border-width: thin;
  line-height: 1.2;
}

.text-label {
  font-size: 12px;
  fill: black;
}

.tick {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid black;
}
.grid-lines {
  opacity: 0.4;
}
.domain {
  stroke: none;
}
.trend {
  fill: none;
  stroke: black;
}

/* text over circles */
.label {
  font-weight: 600;
  min-height: fit-content;
}

.category-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.title {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #f1e8dc;
  padding: 3%;
}
.title {
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  padding: 3%;
}
.title-end {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #f1e8dc;
  padding: 3%;
  font-size: 40px;
  color: #383737;
  padding: 3%;
  text-align: center;
}
.why {
  text-align: center;
}
.image {
  max-height: 300px;
  max-width: 300px;
}
.imageArpa {
  max-width: 300px;
}
.imageInternet {
  max-height: 400px;
  max-width: 300px;
}
.arrow {
  max-width: 40px;
  opacity: 0.6;
}

a {
  color: purple;
}
#more {
  display: none;
}
#myBtn {
  font-family: 'Noto Sans Mono', monospace;
  border-style: solid;
  border-radius: 20%;
  background-color: #c0ac92;
}
/* ICONS */
.fa {
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.fa:hover {
  /* opacity: 0.7; */
  color: #887c6d;
}
.fa-linkedin {
  color: black;
}
.fa-github {
  color: black;
}
.fa-envelope {
  color: black;
}
@media (max-width: 700px) {
  #intro-dek {
    margin: 2rem auto;
  }
  #intro-bitcoin {
    padding: 5% 3% 5% 3%;
  }
  article {
    position: relative;
    padding: 1rem 1rem;
    max-width: 20rem;
  }
  .imageArpa {
    max-width: 250px;
  }
}
@media (max-width: 900px) {
  #intro-dek {
    margin: 3rem auto;
  }
  #intro-bitcoin {
    padding: 5% 3% 5% 3%;
  }

  article {
    position: relative;
    padding: 1rem 1rem;
    max-width: 30rem;
  }
  .sticky-chart {
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  #intro-dek {
    margin: 2rem auto;
  }
  #intro-bitcoin {
    padding: 5% 3% 5% 3%;
  }
  article {
    position: relative;
    padding: 2rem 2rem;
    max-width: 90rem;
  }
  .sticky-chart {
    padding: 3rem 3rem;
  }
}
