div.tooltip {
  position: absolute;
  text-align: left;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  font: 12px;
  pointer-events: none;
  background-color: white;
  color: black;
  border-color: black;
  /* border-width: 1px; */
  border-style: solid;
  border-width: thin;
  line-height: 1.2;
}
.dot:hover {
  stroke-width: 2;
}
.tick {
  font-size: 18px;
  /* font-family: 'Noto Sans Mono', monospace; */
}
